/* Nav Bar Styling */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 0 1.5em;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

/* Write a new tweet text and icon */
.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.new-tweet span {
  font-family: 'Bungee', sans-serif;
  font-size: 18px;
  margin-bottom: 5px;
}

.new-tweet i {
  font-size: 24px;
  color: inherit;
}

