/* Nav Bar Styling */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 0 2em;
}

.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Styling for the "TWEETER" text */
nav span {
  font-family: 'Bungee', sans-serif;
  font-size: 28px;
  font-weight: 700;
}

/* Write a new tweet text and icon section */
.new-tweet-toggle {
  display: flex;
  align-items: center;
  cursor: pointer; 

.new-tweet-toggle span {
  font-family: 'Bungee', sans-serif;
  font-size: 18px;
  margin-right: 10px; 

  .new-tweet-toggle i {
  font-size: 24px;
  color: #FFFFFF;
}

/* Hover effect for new tweet toggle */
.new-tweet-toggle:hover {
  opacity: 0.9;

