/* Nav Bar Styling */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 0 2em;
}

.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Styling for the "TWEETER" text */
nav span {
  font-family: 'Bungee', sans-serif;
  font-size: 28px;
  font-weight: 700;
}

/* "Write a new tweet" text and icon section */
.new-tweet-toggle {
  display: flex;
  margin-top: 15px;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  color: #faf8f8;
}

.new-tweet-toggle span {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 20px;
  padding-top: 15px;
  display: inline-block;
}

.new-tweet-toggle i {
  font-size: 26px;
  color: #FF0000;
  display: inline-block;
  position: relative;
  top: -15px;
  animation: bounce 1.5s infinite; /* adding animation of icon */
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0); /* Starting and ending position */
  }
  50% {
    transform: translateY(5px); /* Moves down slightly */
  }
}

/* Hover effect for new tweet toggle */
.new-tweet-toggle:hover {
  opacity: 0.9;
}
